<div class="app-content">
    <div class="main-content">
        <div class="wrap-content container" id="container">
            <div class="container-fluid container-fullw ">


                <div class="col-xs-12 margin-top-10 margin-bottom-10">
                    <div class="breadcrumb-wrapper no-margin">
                        <h4 class="mainTitle no-margin">فاتورة {{BILL_SHOW_NAME}}</h4>
                        <ul class="pull-right breadcrumb">
                            <li>
                                <a href="#!"><i class="fa fa-home margin-left-5 text-large text-dark"></i>الرئيسية</a>
                            </li>
                            <li>فاتورة {{BILL_SHOW_NAME}}</li>
                        </ul>
                    </div>
                </div>
                <!--/.col-xs-12-->

                <div class="col-xs-12">
                    <div class="panel radius-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-white">
                                    <div class="panel-heading margin-10">
                                        <h4 class="panel-title">احصائيات</h4>
                                        <div class="panel-tools">
                                            <div class="pull-right">
                                                <select id="form-field-select-1" class="form-control">
                                                    <option value="SA" selected>السعودية</option>
                                                    <option value="Eg">مصر</option>
                                                </select>
                                            </div>
                                            <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="panel-body margin-10 text-center min-height-300">
                                        <div class="col-xs-4">
                                            <b>فرع جدة</b>
                                            <i class="fa fa-circle-o margin-right-10" style="color: #5FE3A1"></i>
                                        </div>
                                        <div class="col-xs-4">
                                            <b>فرع جدة</b>
                                            <i class="fa fa-circle-o margin-right-10" style="color:#56D9FE"></i>
                                        </div>
                                        <div class="col-xs-4">
                                            <b>فرع جدة</b>
                                            <i class="fa fa-circle-o margin-right-10" style="color:#A4A1FB"></i>                                            
                                        </div>
                                        <div class="col-xs-12 margin-top-20">
                                            <!--=======================
                                                Add Your Chart Here
                                            =======================-->
                                            <img class="img-responsive" style="margin:auto" src="../../../../Content/assets/images/Chart1.png" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-white">
                                    <div class="panel-heading margin-10">
                                        <h4 class="panel-title">توزيع المبيعات</h4>
                                        <div class="panel-tools">
                                            <div class="pull-right">
                                                <select id="form-field-select-1" class="form-control">
                                                    <option value="SA" selected>السعودية</option>
                                                    <option value="Eg">مصر</option>
                                                </select>
                                            </div>
                                            <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="panel-body margin-10 min-height-300">
                                        <div class="col-xs-12">
                                            <table class="table margin-10">
                                                <tr class="">
                                                    <td class="text-right no-border">
                                                        <i class="fa fa-circle-o margin-left-10" style="color: #55D8FE"></i>
                                                        <b> جدة</b>
                                                    </td>
                                                    <td class="text-left no-border">
                                                        <span>4260 </span> مبيعات
                                                    </td>
                                                    <td class="text-right no-border">
                                                        <i class="fa fa-circle-o margin-left-10" style="color: #FF8373"></i>
                                                        <b> الرياض</b>
                                                    </td>
                                                    <td class="text-left no-border">
                                                        <span>3970  </span> مبيعات
                                                    </td>
                                                </tr>
                                                
                                                <tr class="no-border">
                                                    <td class="text-right no-border">
                                                        <i class="fa fa-circle-o margin-left-10" style="color: #FFDA83"></i>
                                                        <b>ابها</b>
                                                    </td>
                                                    <td class="text-left no-border">
                                                        <span>3454  </span> مبيعات
                                                    </td>
                                                    <td class="text-right no-border">
                                                        <i class="fa fa-circle-o margin-left-10" style="color: #A3A0FB"></i>
                                                        <b>الدمام</b>
                                                    </td>
                                                    <td class="text-left no-border">
                                                        <span>2390 </span> مبيعات
                                                    </td>
                                                </tr>                                                                                              
                                            </table>
                                        </div><!--/.col-xs-6-->
                                        <div class="col-xs-12">
                                            <!--Your Chart Here -->
                                            <img class="img-responsive" style="margin:auto" src="../../../../Content/assets/images/Chart2.png" />
                                        </div><!--/.col-xs-6-->
                                    </div>

                                </div>
                            </div>
                        </div>

                           
                        
                    </div><!--/panel-->
                </div><!--/.col-xs-12-->

                <div class="col-xs-12 margin-top-10 margin-bottom-10">
                    <div class="row">
                        <div class="col-md-4 home-panel">
                            <div class="panel-body radius-5" style="background: #9B59B6">
                                <div class="icon">
                                    <div class="circle-50 text-primary bg-white text-center">
                                        <i class="fa fa-line-chart fa-2x" style="color:#9B59B6"></i>
                                    </div>
                                    <!--/.circle-100-->
                                </div>
                                <!--/.icon-->
                                <div class="icon text-right text-white">
                                    <h4 class="text-white"> +2.0 <span class="percentage">%</span></h4>
                                    <h4 class="text-white">نمو</h4>
                                </div>
                            </div>
                        </div>
                        <!--/.col-md-4-->
                        <div class="col-md-4 home-panel">
                            <div class="panel-body radius-5" style="background:#16A085">
                                <div class="icon">
                                    <div class="circle-50 text-primary bg-white text-center">
                                        <i class="fa fa-pie-chart fa-2x" style="color:#16A085"></i>
                                    </div>
                                    <!--/.circle-100-->
                                </div>
                                <!--/.icon-->
                                <div class="icon text-right text-white">
                                    <h4 class="text-white"> 1,250 <span class="curency">ريال</span></h4>
                                    <h4 class="text-white">إيرادات</h4>
                                </div>
                            </div>
                        </div>
                        <!--/.col-md-4-->
                        <div class="col-md-4 home-panel">
                            <div class="panel-body radius-5" style="background:#2980B9">
                                <div class="icon">
                                    <div class="circle-50 text-primary bg-white text-center">
                                        <i class="fa fa-bar-chart fa-2x" style="color:#2980B9"></i>
                                    </div>
                                    <!--/.circle-100-->
                                </div>
                                <!--/.icon-->
                                <div class="icon text-right text-white">
                                    <h4 class="text-white"> 50,000 <span class="percentage">ريال</span></h4>
                                    <h4 class="text-white">إجمالي الإيرادات</h4>
                                </div>
                            </div>
                        </div>
                        <!--/.col-md-4-->

                    </div>
                    <!--/.col-xs-12-->
                </div>

                <div class="col-xs-12">
                    <div class="panel radius-5">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="panel panel-white">
                                    <div class="panel-heading margin-10">
                                        <h4 class="panel-title">صافي الدخل</h4>
                                        <h5 class="text-info margin-top-10" style="position: absolute">المجموع. <b>5,309</b> ريال</h5>
                                        <div class="panel-tools">
                                            <div class="pull-right">
                                                <select id="form-field-select-1" class="form-control">
                                                    <option value="SA" selected>اخر سنة</option>
                                                    <option value="Eg">اخر شهر</option>
                                                </select>
                                            </div>
                                            <div class="pull-right margin-right-10">
                                                <select id="form-field-select-1" class="form-control">
                                                    <option value="SA" selected>شهري</option>
                                                    <option value="Eg">سنوي</option>
                                                </select>
                                            </div>
                                            <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="panel-body margin-10 text-center min-height-300">                                                
                                    <!--=======================
                                        Add Your Chart Here
                                    =======================-->
                                        <img class="img-responsive" style="margin:auto" src="../../../../Content/assets/images/Chart3.png" />                                        </div>
                                    </div>

                                </div>
                            
                            <div class="col-md-4">
                                <div class="panel panel-white">
                                    <div class="panel-heading margin-10">
                                        <h4 class="panel-title">توزيع المبيعات</h4>
                                        <div class="panel-tools">
                                            <div class="pull-right">
                                                <select id="form-field-select-1" class="form-control">
                                                    <option value="SA" selected>السعودية</option>
                                                    <option value="Eg">مصر</option>
                                                </select>
                                            </div>
                                            <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="panel-body margin-10 min-height-300">
                                        <div class="col-xs-12">
                                            <!--Your Chart Here -->
                                            <img class="img-responsive" style="margin:auto" src="../../../../Content/assets/images/Chart4.png" />
                                        </div><!--/.col-xs-6-->
                                    </div>
                                    <div class="panel-footer text-center">
                                        <a src="#!"> عرض التقرير الكامل</a>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div><!--/panel-->
                </div><!--/.col-xs-12-->

            </div>
            <!--/.container-fluid-->
        </div>
        <!--/.wrap-content-->
    </div>
    <!--/main-content-->
</div>
<!--/.app-content-->
