<div class="app-content">
    <div class="main-content">
        <div class="wrap-content container" id="container">
            <div class="container-fluid container-fullw">

                <div class="col-xs-12 margin-top-10 margin-bottom-10">
                    <div class="breadcrumb-wrapper no-margin">
                        <h4 class="mainTitle no-margin"> حركة جميع السندات تفاصيل يوم </h4>
                        <ul class="pull-right breadcrumb">
                            <li><a href="#!"><i class="fa fa-home margin-left-5 text-large text-dark"></i>الرئيسية</a></li>
                            <li>حركة جميع السندات تفاصيل يوم    </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 margin-bottom-10">
                    <div class="panel-white panel-body no-margin">
                          <button class="btn btn-o btn-default no-border" ng-click="clearEnity()">جديد <i class="fa fa-refresh"></i></button>
                        <button class="btn btn-o btn-default no-border" ng-click="GetSearchResult()"> بحث <i class="fa fa-search"></i> </button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel-body panel-white">                  
                       
                        <div class="col-md-4">
                            <label>الفرع</label>
                            <div ng-dropdown-multiselect="" extra-settings="dropdownSetting" class="form-control"
                                    options="UserBranches" selected-model="SelectedBranch">
                            </div>
                        </div>
                       
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                     تاريخ
                                </label>
                                <input type="date" class="form-control" ng-model="endDate" placeholder=" تاريخ">
                            </div>
                        </div>
                    </div>
                    
                    <!--/.panel -->
                </div>
                <!--/.col-md-12-->
            </div>
            <!--/.container-fluid-->
        </div>
        <!--/.wrap-content-->
    </div>
    <!--/.main-content-->
</div>
<!--/.app-content-->

<style>
    .ui-select-toggle .ng-binding.ng-scope {
        text-align: right;
    }
</style>
