<div class="app-content">
    <div class="main-content">
        <div class="wrap-content container" id="container">
            <div class="container-fluid container-fullw ">                
                    <form name="myForm">
                        <ng-form id="test" name="test">
                            <div class="col-xs-12 margin-top-10 margin-bottom-10">
                                <div class="breadcrumb-wrapper no-margin">
                                    <h4 class="mainTitle no-margin">{{CustSupM}}</h4>
                                    <ul class="pull-right breadcrumb">
                                        <li><a href="#!"><i class="fa fa-home margin-left-5 text-large text-dark"></i>الرئيسية</a></li>
                                        <li>{{CustSupM}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 margin-bottom-10">
                                <div class="panel-white panel-body no-margin">
                                    <button type="button" class="btn btn-o btn-default no-border" ng-disabled="test.$invalid" ng-click="savecustomer()"><i class="fa fa-save"></i>حفظ</button>
                                    <button type="button" class="btn btn-o btn-default no-border" ng-click="refreshData()">  <i class="fa fa-refresh"></i>تحديث</button>
                                    <button type="button" class="btn btn-o btn-default no-border" ng-click="clearEnity()">  <i class="fa fa-paste"></i>جديد</button>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body panel-body panel-white">

                                        <div class="col-md-2 col-md-offset-5">
                                            <div class="space12 center margin-top-25">
                                                <img id="imgPersonal" class="img-responsive img-rounded img-thumbnail margin-bottom-15" ng-model="imageSrc" style="width:100%;height:150px !important;" src="{{imageSrc}}" alt="اختر صورة" />
                                                <span class="btn btn-primary btn-block fileinput-button">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <span>استعراض...</span>
                                                    <input type="file" class="btn btn-primary" title="استعراض" style="width:100% !important;" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" />
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div ng-class="{'has-error': test.$invalid}" class="">
                                                <div class="form-group col-md-4">
                                                    <label>كود {{CustSup}}:</label>
                                                    <div class="help-block error" style="display:inline" ng-show="test.code.$error.required">*</div>
                                                    <input type="text" class="form-control" name="code" placeholder="كود {{CustSup}}" ng-model="customer.CUST_CODE" required>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>لقب {{CustSup}}:</label>
                                                <input type="text" name="title" class="form-control" placeholder="لقب {{CustSup}}" ng-model="customer.CUST_TITLE">
                                            </div>
                                            <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                                <div class="form-group col-md-4">
                                                    <label>اسم {{CustSup}} العربى:</label>
                                                    <div class="help-block error" style="display:inline" ng-show="test.arname.$error.required">*</div>
                                                    <input type="text" class="form-control" name="arname" placeholder="اسم {{CustSup}} العربى" ng-model="customer.CUST_AR_NAME" required>
                                                </div>
                                            </div>
                                            <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                                <div class="form-group col-md-4">
                                                    <label>اسم {{CustSup}} اللاتينى:</label>
                                                    <div class="help-block error" style="display:inline" ng-show="test.enname.$error.required">*</div>
                                                    <input type="text" class="form-control" name="enname" placeholder="اسم {{CustSup}} اللاتينى" ng-model="customer.CUST_EN_NAME" required>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>البريد الالكتروني:</label>
                                                <input type="text" class="form-control" placeholder="البريد الالكتروني" ng-model="customer.CUST_EMAIL">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>الموقع الالكتروني:</label>
                                                <input type="text" class="form-control" placeholder="الموقع الالكتروني" ng-model="customer.CUST_WEB_SITE">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>صندوق البريد:</label>
                                                <input type="text" class="form-control" placeholder="صندوق البريد" ng-model="customer.CUST_POST_BOX">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>الكود البريدي:</label>
                                                <input type="text" class="form-control" placeholder="الكود البريدي" ng-model="customer.CUST_ZIP_CODE">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>البطاقة الضريبية:</label>
                                                <input type="text" class="form-control" placeholder="البطاقة الضريبية" ng-model="customer.TaxNumber">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>السجل التجاري:</label>
                                                <input type="text" class="form-control" placeholder="السجل التجاري" ng-model="customer.CommercialRegister">
                                            </div>
                                            <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                                <div class="form-group col-md-4">
                                                    <label>طريقة البيع:</label>
                                                    <div class="help-block error" style="display:inline" ng-show="test.selltype.$error.required">*</div>
                                                    <select ng-model="customer.SELL_TYPE_ID" name="selltype" class="js-example-basic-hide-search js-states form-control" ng-options="x.SELL_TYPE_ID as x.SELL_TYPE_AR_NAME for x in salesTypeList" required>
                                                        <option value="">اختر طريقة البيع</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>الرصيد:</label>
                                                <label class="form-control">{{customer.Account.ACC_CREDIT - customer.Account.ACC_DEBIT | round}}</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>رصيد افتتاحي للدائن:</label>
                                                <input type="text" class="form-control" placeholder="رصيد افتتاحي للدائن" ng-model="customer.CreditOpeningAccount">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>رصيد افتتاحي للمدين:</label>
                                                <input type="text" class="form-control" placeholder="رصيد افتتاحي للمدين" ng-model="customer.DepitOpeningAccount">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <div class="checkbox clip-check check-primary margin-top-30">
                                                    <input type="checkbox" id="customer.Taxable" name="Taxable" ng-model="customer.Taxable">
                                                    <label for="customer.Taxable">خاضع للضريبة ؟</label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>نسبة الضريبة %:</label>
                                                <input type="text" class="form-control" placeholder="% نسبة الضريبة" ng-model="customer.TaxValue">
                                            </div>
                                        </div>

                                    </div>
                                    <!--/.panel-body-->
                                    <div class="panel">
                                        <div class="panel-group accordion" id="accordion">
                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFirst"> <i class="icon-arrow"></i> حساب {{CustSup}} </a></h5>
                                                </div>

                                                <div id="collapseFirst" class="collapse">
                                                    <div class="panel-body">

                                                        <div class="col-md-12 no-padding">
                                                            <div class="col-md-6 margin-bottom-20">
                                                                <div class="panel panel-default panel-white">
                                                                    <div class="panel-heading border-bottom">حساب {{CustSup}}</div>
                                                                    <div class="panel-body ">
                                                                        <div ng-class="{'has-error': test.$invalid}" class="">
                                                                            <div class="form-group col-md-4">
                                                                                <label>كود حساب {{CustSup}}:</label>
                                                                                <div class="help-block error" style="display:inline" ng-show="test.acccode.$error.required">*</div>
                                                                                <input type="text" name="acccode" class="form-control" placeholder="كود حساب {{CustSup}}" ng-model="ACC_CODE" required>
                                                                            </div>
                                                                        </div>

                                                                        <div ng-class="{'has-error': test.$invalid}" class="">
                                                                            <div class="form-group col-md-4">
                                                                                <label>التاريخ:</label>
                                                                                <div class="help-block error" style="display:inline" ng-show="test.accdate.$error.required">*</div>
                                                                                <input type="date" name="accdate" class="form-control" ng-model="customer.Account.ACC_DATE" required />
                                                                            </div>
                                                                        </div>

                                                                        <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                                                            <div class="form-group col-md-4">
                                                                                <label>اسم حساب {{CustSup}} العربي:</label>
                                                                                <div class="help-block error" style="display:inline" ng-show="test.accarname.$error.required">*</div>
                                                                                <input type="text" class="form-control" name="accarname" placeholder="اسم حساب {{CustSup}} العربي" ng-model="customer.Account.ACC_AR_NAME" required>
                                                                            </div>
                                                                        </div>

                                                                        <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                                                            <div class="form-group col-md-4">
                                                                                <label>اسم حساب {{CustSup}} اللاتيني:</label>
                                                                                <div class="help-block error" style="display:inline" ng-show="test.accenname.$error.required">*</div>
                                                                                <input type="text" name="accenname" class="form-control" placeholder="اسم حساب {{CustSup}} اللاتيني" ng-model="customer.Account.ACC_EN_NAME" required>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group col-md-4">
                                                                            <label>الحساب الرئيسي:</label>
                                                                            <select ng-model="customer.Account.PARENT_ACC_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.ACC_ID as x.ACC_AR_NAME for x in parentList" ng-change="getCodeByParentID()">
                                                                                <option value="">اختر الحساب الرئيسي</option>
                                                                            </select>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6 margin-bottom-20">
                                                                <div class="panel panel-default panel-white">
                                                                    <div class="panel-heading border-bottom">جهة {{CustSup}}</div>
                                                                    <div class="panel-body">
                                                                        <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                                                            <div class="form-group col-md-12">
                                                                                <label>نوع الحساب:</label>
                                                                                <div class="help-block error" style="display:inline" ng-show="test.acctype.$error.required">*</div>
                                                                                <div class="input-group">
                                                                                    <select ng-model="customer.Account.ACC_TYPE_ID" name="acctype" class="js-example-basic-hide-search js-states form-control" ng-options="x.ACC_TYPE_ID as x.ACC_TYPE_AR_NAME for x in accountTypesList" required>
                                                                                        <option value="">اختر النوع</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group col-md-12">

                                                                            <div ng-class="{'has-error': test.$invalid}" class="">
                                                                                <label>تنبيه عند التجاوز:</label>
                                                                                <div class="help-block error" style="display:inline" ng-show="test.accstate.$error.required">*</div>
                                                                                <div class="input-group">

                                                                                    <div ng-repeat="warn in wariningList" style="display:inline-block;margin-left:20px">
                                                                                        <div class="radio clip-radio radio-primary radio-inline">
                                                                                            <input type="radio" id="accstate{{$index}}" name="accstate" ng-value="warn.warningId" ng-model="customer.Account.ACC_DEBIT_OR_CREDIT_OR_WITHOUT" required />
                                                                                            <label for="accstate{{$index}}"> {{ warn.warningName }} </label>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-md-4">
                                                                            <label> الموازنة التقديريه للدائن:</label>

                                                                            <input class="form-control" placeholder="الموازنة التقديرية" ng-model="customer.Account.ACC_MAX_CREDIT" only-Number>
                                                                        </div>
                                                                        <div class="form-group col-md-4">
                                                                            <label>الموازنة التقديرية للمدين:</label>
                                                                            <input class="form-control" placeholder="الموازنة التقديرية" ng-model="customer.Account.ACC_MAX_DEBIT" only-Number>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/.col-md-12-->

                                                        <div class="col-md-12 no-padding">
                                                            <div class="col-md-6 margin-bottom-20">
                                                                <div class="panel panel-default panel-white">
                                                                    <div class="panel-heading border-bottom">معلومات عملة الحساب</div>
                                                                    <div class="panel-body">
                                                                        <div ng-class="{'has-error': test.$invalid}" class="">
                                                                            <div class="form-group col-md-4">
                                                                                <label>العملة:</label>
                                                                                <div class="help-block error" style="display:inline" ng-show="test.acccurrency.$error.required">*</div>

                                                                                <select ng-model="customer.Account.CURRENCY_ID" name="acccurrency" class="js-example-basic-hide-search js-states form-control" ng-options="x.CURRENCY_ID as x.CURRENCY_AR_NAME for x in currencyList" required ng-change="getPrice()"><option value="">اختر العملة</option></select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group col-md-4">
                                                                            <label>سعر الصرف:</label>
                                                                            <input type="text" class="form-control" placeholder="سعر الصرف" ng-model="CURRENCY_RATE" disabled>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 margin-bottom-20">
                                                                <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                                                    <div class="panel panel-default panel-white">
                                                                        <div class="panel-heading border-bottom">طبيعة الحساب</div>
                                                                        <div class="panel-body">
                                                                            <div class="col-md-12">
                                                                                <label>طبيعة الحساب:</label>
                                                                                <div class="help-block error" style="display:inline" ng-show="test.rad_customer.$error.required">*</div>
                                                                                <div class="input-group">
                                                                                    <!--here-->
                                                                                    <div ng-repeat="option in stateList" style="display:inline-block;margin-left:20px">
                                                                                        <div class="radio clip-radio radio-primary radio-inline">
                                                                                            <input type="radio" id="choice{{$index}}" name="rad_customer" ng-value="option.stateId" ng-model="customer.Account.ACC_STATE" required />
                                                                                            <label for="choice{{$index}}">{{ option.stateName }}</label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--/.panel-body-->
                                                                    </div>
                                                                    <!--/.panel panel-default panel-white-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/.col-md-12-->

                                                    </div>
                                                    <!--/.panel-body-->
                                                </div>
                                                <!--/.panel-collapse-->

                                            </div>
                                            <!--/.panel-->
                                        </div>
                                        <!--/.panel-group-->
                                    </div>
                                    <!--/.panel /.panel-white-->
                                    <div class="panel">
                                        <div class="panel-group accordion" id="accordion">
                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSecond"> <i class="icon-arrow"></i>فروع {{CustSup}} </a></h5>
                                                </div>
                                                <div id="collapseSecond" class="collapse">
                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <div class="panel-body">
                                                                <div class="form-group col-md-4">
                                                                    <label>الاسم العربي:</label>
                                                                    <input type="text" class="form-control" placeholder="الاسم العربي" ng-model="branch.ACC_BRN_AR_NAME">
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>الاسم اللاتيني:</label>
                                                                    <input type="text" class="form-control" ng-model="branch.ACC_BRN_EN_NAME" placeholder="الاسم اللاتيني" />
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>ملاحظات العنوان:</label>
                                                                    <input type="text" class="form-control" placeholder="ملاحظات العنوان" ng-model="branch.BRN_ADDR_REMARKS">
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>ملاحظات:</label>
                                                                    <input type="text" class="form-control" placeholder="ملاحظات" ng-model="branch.BRN_REMARKS">
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>الدولة:</label>
                                                                    <select ng-model="branch.NATION_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.NATION_ID as x.NATION_AR_NAME for x in NationList" ng-change="getAllNationGovernateBran()">
                                                                        <option value="">اختر الدولة</option>
                                                                    </select>
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>المحافظه:</label>
                                                                    <select ng-model="branch.GOV_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.GOV_ID as x.GOV_AR_NAME for x in GovBranList" ng-change="getAllGovernateTownBran()">
                                                                        <option value="">اختر المحافظة</option>
                                                                    </select>
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>المركز:</label>
                                                                    <select ng-model="branch.TOWN_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.TOWN_ID as x.TOWN_AR_NAME for x in TownBranList" ng-change="getAllTownVillageBran()">
                                                                        <option value="">اختر المركز</option>
                                                                    </select>
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>الحي:</label>
                                                                    <select ng-model="branch.VILLAGE_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.VILLAGE_ID as x.VILLAGE_AR_NAME for x in VillBranList">
                                                                        <option value="">اختر الحي</option>
                                                                    </select>
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>&nbsp; </label>
                                                                    <button type="button" class="btn btn-block btn-info" ng-click="addBranToList()">إضافة<i class="fa fa-plus-circle"></i></button>
                                                                </div>

                                                                <div class="form-group col-md-12">

                                                                    <table class="table table-responsive">
                                                                        <tr class="success">
                                                                            <!--<td class="center text-extra-large"><i class="ti-arrow-down"></i></td>-->
                                                                            <td class="center"> الاسم العربي </td>
                                                                            <td class="center">الاسم اللاتيني</td>
                                                                            <td class="center">الدوله</td>
                                                                            <td class="center"> المحافظه</td>
                                                                            <td class="center">ملاحظات العنوان</td>
                                                                            <td class="center">ملاحظات</td>
                                                                            <td class="center">حذف</td>

                                                                        </tr>
                                                                        <tr ng-repeat="bran in branchList">
                                                                            <td>{{bran.ACC_BRN_AR_NAME}}</td>
                                                                            <td>{{bran.ACC_BRN_EN_NAME}}</td>
                                                                            <td>{{bran.NationName}}</td>
                                                                            <td>{{bran.GovName}}</td>
                                                                            <td>{{bran.BRN_ADDR_REMARKS}}</td>
                                                                            <td>{{bran.BRN_REMARKS}}</td>
                                                                            <td><button type="button" class="btn btn-warning" ng-click="removeBranItem($index)">حذف <i class="fa fa-remove"></i></button></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/.panel-body-->
                                                </div>
                                                <!--/.panel-collapse-->
                                            </div>
                                            <!--/.panel-->
                                        </div>
                                        <!--/.panel-group-->
                                    </div>
                                    <!--/.panel /.panel-white-->
                                    <div class="panel">
                                        <div class="panel-group accordion" id="accordion">
                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThird"> <i class="icon-arrow"></i> فروع {{CustSup}} </a></h5>
                                                </div>

                                                <div id="collapseThird" class="collapse">
                                                    <div class="panel-body">

                                                        <div class="tabbable tabs-right">
                                                            <ul id="myTab5" class="nav nav-tabs">
                                                                <li class="active">
                                                                    <a href="#myTab5_example1" target="_self" data-toggle="tab"> عنوان {{CustSup}} </a>
                                                                </li>
                                                                <li class="">
                                                                    <a href="#myTab5_example2" target="_self" data-toggle="tab"> فروع {{CustSup}} </a>
                                                                </li>
                                                                <li class="">
                                                                    <a href="#myTab5_example3" target="_self" data-toggle="tab"> بيانات {{CustSup}} </a>
                                                                </li>
                                                            </ul>

                                                            <div class="tab-content no-border">

                                                                <div class="tab-pane no-border fade in active" id="myTab5_example1">
                                                                    <div class="panel panel-default panel-white">
                                                                        <div class="panel-heading border-bottom">عنوان {{CustSup}}</div>
                                                                        <div class="panel-body ">
                                                                            <div class="form-group col-md-4">
                                                                                <label>الدولة:</label>
                                                                                <select ng-model="customer.NATION_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.NATION_ID as x.NATION_AR_NAME for x in NationList" ng-change="getAllNastionGovernate()">
                                                                                    <option value="">اختر الدولة</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label>المحافظه:</label>
                                                                                <select ng-model="customer.GOV_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.GOV_ID as x.GOV_AR_NAME for x in GovernateListByNationID" ng-change="getAllGovernateTown()">
                                                                                    <option value="">اختر المحافظة</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label>المركز:</label>

                                                                                <select ng-model="customer.TOWN_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.TOWN_ID as x.TOWN_AR_NAME for x in TownsListByGovernateID" ng-change="getAllTownVillage()">
                                                                                    <option value="">اختر المركز</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label>الحي:</label>
                                                                                <select ng-model="customer.VILLAGE_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.VILLAGE_ID as x.VILLAGE_AR_NAME for x in VillagesListByTownID">
                                                                                    <option value="">اختر الحي</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group col-md-12">
                                                                                <label>تفاصيل العنوان:</label>
                                                                                <input type="text" class="form-control" placeholder="تفاصيل العنوان" ng-model="customer.CUST_ADDR_REMARKS">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="tab-pane no-border fade" id="myTab5_example2">
                                                                    <div class="panel panel-default panel-white">
                                                                        <div class="panel-heading border-bottom">بيانات الشركة</div>
                                                                        <div class="panel-body">
                                                                            <div class="form-group col-md-4">
                                                                                <label>فرع الشركة:</label>
                                                                                <select ng-model="customer.Comp_Bran_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.COM_BRN_ID as x.COM_BRN_AR_NAME for x in CompanyBranchesList" ng-change="GetDepartmentByCompanyBranchID()">
                                                                                    <option value="">اختر فرع الشركة</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group col-md-4">
                                                                                <label>القسم:</label>
                                                                                <select ng-model="customer.Dept_ID" class="js-example-basic-hide-search js-states form-control" ng-options="x.DEPT_ID as x.DEPT_AR_NAME for x in GetDepartmentByCompanyBranchIDList">
                                                                                    <option value="">اختر القسم</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="tab-pane no-border fade" id="myTab5_example3">
                                                                    <div class="panel panel-default panel-white">
                                                                        <div class="panel-heading border-bottom">تليفونات {{CustSup}}</div>
                                                                        <div class="panel-body">
                                                                            <div class="table-responsive">

                                                                                <div class="form-group col-md-4">
                                                                                    <label>رقم التليفون </label>
                                                                                    <input type="text" class="form-control" ng-model="teleNumber" placeholder="رقم التليفون">
                                                                                </div>

                                                                                <div class="form-group col-md-4">
                                                                                    <label> نوع التليفون </label>
                                                                                    <select ng-model="teleCatId" class="js-example-basic-hide-search js-states form-control" ng-options="x.TELE_CAT_ID as x.TELE_CAT_AR_NAME for x in catList"><option value="">اختر نوع التليفون</option></select>
                                                                                </div>

                                                                                <div class="form-group col-md-4">
                                                                                    <label>&nbsp;</label>
                                                                                    <button type="submit" class="btn btn-block btn-info" ng-click="addTeleToList()">إضافة<i class="fa fa-plus-circle"></i></button>
                                                                                </div>

                                                                                <div class="form-group col-md-12">

                                                                                    <table class="table table-responsive">
                                                                                        <tr>
                                                                                            <th>رقم التليفون</th>
                                                                                            <th>نوع التليفون</th>
                                                                                            <th></th>
                                                                                        </tr>

                                                                                        <tr ng-repeat="tele in TelephoneList">
                                                                                            <td>{{tele.TELE_NUMBER}}</td>
                                                                                            <td>{{tele.TeleCatName}}</td>
                                                                                            <td><button type="button" class="btn btn-warning" ng-click="removeTeleItem($index)">حذف  <i class="fa fa-remove"></i></button></td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                                <!--/.-form-group-->
                                                                            </div>
                                                                            <!--/.table-responsive-->
                                                                        </div>
                                                                        <!--/.panel-body-->
                                                                    </div>
                                                                    <!--/.panel-->
                                                                </div>
                                                                <!--/.tab-pane-->
                                                            </div>
                                                            <!--/.tab-content-->
                                                        </div>
                                                        <!--/.tabbable tabs-right-->
                                                    </div>
                                                    <!--/.panel-body-->
                                                </div>
                                                <!--/.panel-collapse-->
                                            </div>
                                            <!--/.panel-->
                                        </div>
                                        <!--/.panel-group-->
                                    </div>
                                    <!--/.panel /.panel-white-->
                                    <hr />
                                    <div class="panel">
                                        <div class="panel-group accordion" id="accordion">
                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"> <i class="icon-arrow"></i> 	{{CustSupM}} المعرفين سابقا </a></h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse">

                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <div class="col-md-3 pull-left">
                                                                <table class="table table-stylish">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="center text-extra-large"><i class="ti-save"></i></td>
                                                                            <td><span class="text-dark block">إجمالي {{CustSupM}} :</span></td>
                                                                            <td class="center">{{customerTotalCount}}</td>
                                                                            <td class="center"><i class="fa fa-caret-down text-red"></i></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <table class="table  table-bordered table-hover table-full-width ps-scrollbar-x small  panel-full-screen  fc-scroller  " style="height:150px;overflow:auto;" id="sample-table-2">
                                                                    <thead>
                                                                        <tr class="success">
                                                                            <th class="hidden-xs">#</th>
                                                                            <th>كود {{CustSup}}</th>
                                                                            <th>اسم {{CustSup}} العربى</th>
                                                                            <th>اسم {{CustSup}} اللاتينى</th>
                                                                            <th class="hidden-xs">كود الحساب الخاص {{CustSup}}</th>
                                                                            <th class="hidden-xs">اسم الحساب الخاص {{CustSup}}</th>
                                                                            <th>تعديل / حذف</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="cust in customerList">
                                                                            <td class="hidden-xs">{{ $index + 1 }}</td>
                                                                            <td>{{ cust.CUST_CODE }}</td>
                                                                            <td>{{ cust.CUST_AR_NAME }}</td>
                                                                            <td>{{ cust.CUST_EN_NAME }}</td>
                                                                            <td class="hidden-xs">{{ cust.Account.ACC_CODE }}</td>
                                                                            <td class="hidden-xs">{{ cust.Account.ACC_AR_NAME }}</td>
                                                                            <td class="center">
                                                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                                    <a href="" ng-click="dirEnity(cust)" class="btn btn-transparent btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>

                                                                                    <a href="" ng-click="deleteEnity(cust)" class="btn btn-transparent btn-xs tooltips" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                                                </div>
                                                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                                    <div class="btn-group dropdown ">
                                                                                        <button type="button" class="btn  btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
                                                                                            <i class="fa fa-cog"></i> <span class="caret"></span>
                                                                                        </button>
                                                                                        <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                                                            <li><a href="" ng-click="dirEnity(cust)"> Edit </a></li>
                                                                                            <li><a href="" ng-click="deleteEnity(cust)"> Remove </a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <!--/.btn-group-->
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <ul uib-pagination total-items="customerTotalCount" ng-model="pageNum" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></ul>
                                                                <pre>صفحه: {{pageNum}} / {{numPages}}</pre>
                                                            </div>
                                                        </div>
                                                        <!--/.table-responsive-->
                                                    </div>
                                                    <!--/.panel-body-->
                                                </div>
                                                <!--/.panel-collapse-->
                                            </div>
                                            <!--/.panel-->
                                        </div>
                                        <!--/.panel-group-->
                                    </div>
                                    <!--/.panel-->
                                </div>
                                <!--/.panel-->
                            </div>
                            <!--/.col-md-12-->
                        </ng-form>
                    </form>
            </div>
            <!--/.container-fluid-->
        </div>
        <!--/.wrap-content-->
    </div>
    <!--/.main-content-->
</div>
<!--/.app-content-->
