
<div class="app-content">
    <div class="main-content">
        <div class="wrap-content container" id="container">
            <div class="container-fluid container-fullw">
  
                <div class="row text-large">
                    <div class="col-md-12">
                        <div ng-switch on="selection">
                            <div class="panel panel-white">                           
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group col-md-12" style="float:right !important">
                                                    <fieldset class="panel panel-white panel-default" style="width:60%; margin-left:5%">
                                                        <legend>
                                                                دليل الحسابات
                                                        </legend>
                                                        <div class="panel-body">
                                                            <!--<treecontrol class="tree-classic" tree-model="accountsGuideList" on-selection="redToView(node.ACC_ID,$parentNode)" >
                                                                <span>
                                                                    {{node.ACC_CODE}}-{{node.ACC_AR_NAME}}
                                                                 </span>
                                                                <span ng-show="$parentNode" >
                                                                    <span class="col-sm-1" aria-hidden="false"></span>
                                                                </span> 
                                                            </treecontrol>-->
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input id="accTree_q" type="text" placeholder="أدخل نص البحث هنا ..." class="form-control">
                                                                    <span id='addBtnNewAcc' class='btn btn-primary input-group-addon' ><span class='glyphicon glyphicon-plus'></span></span>
                                                                </div>
                                                            </div>
                                                            <span id="col" style="display:none"><i class="glyphicon glyphicon-minus"></i></span>
                                                            <span id="exp" style="display:none"><i class="glyphicon glyphicon-plus"></i></span>
                                                            <div id="accTree" class="demo"></div>    

                                                        </div>
                                                    </fieldset>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


