<div class="wrap-content container" id="container">

    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="mainTitle">Technical Support and Help</h1>
                <span class="mainDescription ">ResortErp System </span>
            </div>
        </div>
    </section>
    <div class="row margin-bottom-30 margin-top-30">
        <div class="col-lg-4  col-md-6 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-dark"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">Signing in </h2>
                    <p class="text-small">
                        sign in
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#/login" style="color:cornflowerblue">
                            Login
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-8 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">User Manual</h2>
                    <p class="text-small">
                        User Manual for ResortERP system
                    </p>
                    <p>
                        <a href="#" style="color:cornflowerblue">
                            user Manual
                        </a>
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#" style="color:cornflowerblue">
                            Press Me
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-8 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">user Manual</h2>
                    <p class="text-small">
                        user Manual for ResortERP system
                    </p>
                    <p>
                        <a href="#" style="color:cornflowerblue">
                            user Manual
                        </a>
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#" style="color:cornflowerblue">
                            Press Me
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-8 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">Talk with technical support</h2>
                    <p class="text-small">
                        Contact with Technical support
                    </p>
                    <p>
                        <a href="#" style="color:cornflowerblue">
                            Talk with technical support
                            <i class="ti-comments edit-user-info"></i>
                        </a>
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#" style="color:cornflowerblue">
                            Contact Us
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-8 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">Phone support</h2>

                    <p>
                        Whatsapp :
                        <a href="mailto:01064647733" style="color:green">
                            01064647733
                            <i class="fa fa-whatsapp edit-user-info"></i>
                        </a>
                    </p>
                    <p>
                        Skype :
                        <a href="mailto:support@ResortERP.com" style="color:aqua">
                            support@ResortERP.com
                            <i class="fa fa-skype edit-user-info"></i>
                        </a>
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#" style="color:cornflowerblue">
                            Contact Us
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4  col-md-8 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">Email</h2>
                    <p class="text-small">
                        Email us
                    </p>
                    <p>
                        Email :
                        <a href="mailto:support@ResortERP.com" style="color:salmon">
                            support@ResortERP.com
                            <i class="fa fa-envelope edit-user-info"></i>
                        </a>
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#" style="color:cornflowerblue">
                            Send a message
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
