<div class="app-content">
    <div class="main-content">
        <div class="wrap-content container" id="container">
            <div class="container-fluid container-fullw ">
                <div class="row">
                    <div class="col-md-12">

                        <div class="panel " style="height:100%;overflow:auto;">
                            <div class="panel-heading border-bottom  panel-white ">
                                <h4 class="panel-title">
                                    Change Password
                                </h4>
                                <div class="panel-tools">
                                    <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" data-trigger="hover" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
                                    <a data-original-title="Expand" data-toggle="tooltip" data-placement="top" data-trigger="hover" class="btn btn-transparent btn-sm panel-expand" href="#"><i class="fa fa-compress expand-on"></i><i class="fa fa-expand expand-off"></i></a>
                                </div>
                            </div>

                            <div class="panel-body panel-body panel-white">
                                <form name="changePassword" novalidate>
                                    <div class="col-md-6">
                                        <div class="form-group col-md-12" ng-class="{ 'has-error' : !changePassword.curPass.$invalid.IsExist }">
                                            <span class="input-icon">
                                                <label>Current Password:</label>
                                                <input type="password" name="curPass" class="form-control" placeholder="Current Password" ng-model="changePass.CurrentPass" ng-blur="ValidatePassword()" required>
                                            </span>
                                            <p ng-show="(IsExist == undefined || !IsExist) && changePassword.curPass.$dirty" class="help-block">
                                                Password is not correct
                                            </p>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <hr />
                                        </div>



                                        <div class="form-group form-actions col-md-12" ng-class="{ 'has-error' : changePassword.PasswordHash.$invalid }">
                                            <span class="input-icon">
                                                <input type="password" name="PasswordHash" class="form-control" placeholder="Password" data-ng-model="changePass.NewPass" required ng-disabled="!IsExist">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                        <div class="form-group form-actions col-md-12" ng-class="{ 'has-error' : changePassword.rePasswordHash.$invalid }">
                                            <span class="input-icon">
                                                <input type="password" name="rePasswordHash" class="form-control" placeholder="Confirm Password" data-ng-model="changePass.ConfirmPass" compare-to="changePass.NewPass" required ng-disabled="!IsExist">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                            <p ng-show="changePassword.rePasswordHash.$invalid && changePassword.rePasswordHash.$dirty" class="help-block">Password is not identical</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12 margin-bottom-25 text-center">
                                        <button type="button" class="btn btn-primary btn-wide  margin-top-10" ng-click="changePswrd()" ng-disabled="!changePassword.$valid">Change&nbsp;&nbsp;<i class="fa fa-key"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>