<div class="row">
    <div class="panel panel-white no-radius">
        <div class="col-sm-12 col-md-12">
            <div class="row space10 margin-top-10 hidden-xs panel panel-white">
                <div class="horizontal-menu-wrapper ">
                    <div class="horizontal-nav-container">
                        <ul class="nav navbar-nav no-border ">
                            <li class="active">
                                <a href="#"> <div class="lettericon" data-text="H" data-size="sm" data-char-count="2" data-color="auto"></div> <span>  HomePage </span> </a>
                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <div class="lettericon" data-text="C" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Accounting </span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="ui_elements.html"> <span> Accounting   </span> </a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#">Test text 1</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="javascript:;"> <span>Test text</span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#"> Test text 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="javascript:;"> <span>Test text 2</span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#"> Test text 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="javascript:;"> <span>Test text 3</span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#"> Test text 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="ui_buttons.html"> <span> Test text </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_links.html"> <span> Test text </span> </a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#"> Test text </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="ui_icons.html"> <span> Test text </span> </a>
                                            </li>
                                            <li>
                                                <a href="ui_line_icons.html"> <span> Test text </span> </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="ui_modals.html"> <span> Test text </span> </a>
                                    </li>


                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <div class="lettericon" data-text="M" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Stores  </span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="ui_elements.html"> <span> Point of Sale   </span> </a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#">Test text 1</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="javascript:;"> <span>Test text</span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#"> Test text 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="javascript:;"> <span>Test text 2</span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#"> Test text 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="javascript:;"> <span>Test text 3</span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#"> Test text 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="ui_buttons.html"> <span> Test text </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_links.html"> <span> Test text </span> </a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#"> Test text </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="ui_icons.html"> <span> Test text </span> </a>
                                            </li>
                                            <li>
                                                <a href="ui_line_icons.html"> <span> Test text </span> </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="ui_modals.html"> <span> Test text </span> </a>
                                    </li>


                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <div class="lettericon" data-text="R" data-size="sm" data-char-count="2" data-color="auto"></div> <span> Reports </span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="ui_elements.html"> <span> Reports   </span> </a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#">Test text 1</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="javascript:;"> <span>Test text</span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#"> Test text 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="javascript:;"> <span>Test text 2</span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#"> Test text 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="javascript:;"> <span>Test text 3</span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#"> Test text 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"> Test text 3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="ui_buttons.html"> <span> Test text </span> </a>
                                    </li>
                                    <li>
                                        <a href="ui_links.html"> <span> Test text </span> </a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#"> Test text </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="ui_icons.html"> <span> Test text </span> </a>
                                            </li>
                                            <li>
                                                <a href="ui_line_icons.html"> <span> Test text </span> </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="ui_modals.html"> <span> Test text </span> </a>
                                    </li>


                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>