<div class="login-body">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-offset-2 col-md-4 col-md-offset-4">
            <!-- start: LOGIN BOX -->
            <div class="box-login">
                <form id="activation" name="activation">
                    <fieldset>
                        <div class="form-group">
                            <div class="logo text-center">
                                <img src="/Content/assets//images/logo4.png" />
                            </div>
                        </div>
                        <!--validation-->

                        <div class="form-control text-center" style="padding-bottom:13%">
                            <label ng-hide="!showMsg" style="color:cadetblue">
                                {{helloMsgAr}}
                                <br />
                                {{msgAr}}
                            </label>
                            <label ng-hide="showMsg" style="color:red">
                                {{helloMsgAr}}
                                <br />
                                {{msgAr}}
                            </label>
                        </div>
                        <div class="new-account margin-top-15">
                            <div class="col-md-6 text-right"><a href="#/login">تسجيل الدخول</a></div>
                            <div class="col-md-6 text-left"><a href="">التواصل مع دعم الفنى</a></div>
                        </div>

                        <!--<div class="form-group">
                            <label>
                                كود التفعيل
                            </label>
                            <span class="input-icon">
                                <textarea rows="5" class="form-control" placeholder="كود التفعيل" ng-model="act.activationCode" style="resize:none" required></textarea>
                                <i class="fa fa-key"></i>
                            </span>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="activateCompany()" press-Enter="activateCompany()">تأكيد التسجيل</button>
                        </div>
                        <div class="new-account text-white margin-top-15">
                            لا تملك حسابا حتى الآن ؟
                            <a href="#" class="text-white text-center">  التواصل مع دعم الفنى</a>
                        </div>
                        <div class="new-account text-grey  margin-top-15 ">
                            <a href="" class="text-grey" ng-click="Register()">تسجيل كمستخدم جديد</a>
                        </div>-->
                    </fieldset>
                    <!-- start: COPYRIGHT -->
                    <div class="copyright text-dark text-center">
                        © <b>مجموعة المتكامل</b> 2018. جميع الحقوق محفوظه.
                    </div>
                </form>
                <!-- end: COPYRIGHT -->
            </div>
            <!-- end: LOGIN BOX -->
        </div>
    </div>

</div> 