<div class="app-content">
    <div class="main-content">
        <div class="wrap-content container" id="container">
            <div class="container-fluid container-fullw">
                <div class="col-xs-12 margin-top-10 margin-bottom-10">
                    <div class="breadcrumb-wrapper no-margin">
                        <h4 class="mainTitle no-margin">تعريف نوع الفاتورة</h4>
                        <ul class="pull-right breadcrumb">
                            <li><a href="#!"><i class="fa fa-home margin-left-5 text-large text-dark"></i>الرئيسية</a></li>
                            <li>تعريف نوع الفاتورة</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 margin-bottom-10">
                    <div class="panel-white panel-body no-margin">
                        <button type="button" class="btn  btn-o btn-default no-border" ng-disabled="test.$invalid" ng-click="savebillType()"><i class="fa fa-save"></i><span>حفظ</span></button>
                        <button type="button" class="btn  btn-o btn-default no-border" ng-click="refreshData()"><i class="fa fa-refresh"></i><span>تحديث</span></button>
                        <button type="button" class="btn  btn-o btn-default no-border" ng-click="clearEnity()"><i class="fa fa-paste"></i><span>جديد</span></button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body panel-white">
                            <div ng-form="subForm">
                                <ng-form id="test" name="test">
                                    <!--<form>-->
                                    <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                        <div class="form-group col-md-4">
                                            <label for="BILL_TYPE_AR_NAME">الاسم عربى:</label>
                                            <div class="help-block error" style="display:inline" ng-show="test.arname.$error.required">*</div>
                                            <input type="text" name="arname" class="form-control" id="BILL_TYPE_AR_NAME" placeholder="الاسم عربى" ng-model="billType.BILL_TYPE_AR_NAME" required>
                                            <!--<div class="help-block error" ng-show="test.field.$error.required">Required</div>-->
                                        </div>
                                    </div>

                                    <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                        <div class="form-group col-md-4">
                                            <label for="BILL_TYPE_EN_NAME">الاسم انجليزى:</label>
                                            <div class="help-block error" style="display:inline" ng-show="test.enname.$error.required">*</div>
                                            <input type="text" class="form-control" id="BILL_TYPE_EN_NAME" name="enname" placeholder="الاسم انجليزى" ng-model="billType.BILL_TYPE_EN_NAME" required>
                                        </div>
                                    </div>
                                    <div ng-class="{'has-error': test.$invalid}" class="form-group col-sm-12">
                                        <label for="BILL_TYPE_EN_NAME">النوع:</label>
                                        <div class="help-block error" style="display:inline" ng-show="test.BILL_EFF_ID.$error.required">*</div> <br />
                                        <div class="col-sm-12">
                                            <div class="form-group col-md-2">
                                                <div class="radio clip-radio radio-primary radio-inline">
                                                    <input id="radio1" type="radio" required name="BILL_EFF_ID" data-ng-model="billType.BILL_EFF_ID" data-ng-value="1" class="check-primary" />
                                                    <label for="radio1">مدخلات</label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <div class="radio clip-radio radio-primary radio-inline">
                                                    <input id="radio2" type="radio" required name="BILL_EFF_ID" data-ng-model="billType.BILL_EFF_ID" data-ng-value="2" class="check-primary" />
                                                    <label for="radio2">مخرجات</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group col-md-2">
                                                <div class="radio clip-radio radio-primary radio-inline">
                                                    <input id="radio3" type="radio" required name="BILL_EFF_ID" data-ng-model="billType.BILL_EFF_ID" data-ng-value="3" class="check-primary" />
                                                    <label for="radio3">تحولات</label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <div class="radio clip-radio radio-primary radio-inline">
                                                    <input id="radio4" type="radio" required name="BILL_EFF_ID" data-ng-model="billType.BILL_EFF_ID" data-ng-value="4" class="check-primary" />
                                                    <label for="radio4">لاتؤثر</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group col-md-4">
                                        <label>المجموعة الرئيسية</label>
                                        <select ng-model="billType.GROUP_MASTER_ID" ng-options="x.GROUP_ID as x.GROUP_AR_NAME for x in mainbillTypesList" class="form-control">
                                            <option value="">المجموعة الرئيسية</option>
                                        </select>
                                    </div>-->
                                    <!--<div class="form-group col-md-4">
                                        <label for="GROUP_REMARKS">ملاحظات:</label>
                                        <input type="text" class="form-control" id="GROUP_REMARKS" name="remark" placeholder="ملاحظات" ng-model="billType.GROUP_REMARKS">
                                    </div>-->


                                </ng-form>
                                <!--</form>-->
                            </div>
                            <!--/.panel-group-->
                        </div>
                        <!--/.panel-body panel-white-->
                        <div class="clearfix"></div>

                        <div class="panel-group accordion" id="accordion">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"> <i class="icon-arrow"></i>  نوع الفواتير المعرفة مسبقاً </a></h5>
                                </div>
                                <div id="collapseTwo" class="collapse">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <!--   Results:{{billTypesTotalCount}}-->
                                            <div class="col-md-3 pull-left ">
                                                <table class="table table-stylish">
                                                    <tbody>
                                                        <tr>
                                                            <td class="center text-extra-large"><i class="ti-save"></i></td>
                                                            <td><span class="text-dark block">مجموع الحسابات :</span></td>
                                                            <td class="center">{{billTypesTotalCount}}</td>
                                                            <td class="center"><i class="fa fa-caret-down text-red"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!--/.col-md-3-->
                                            <div class="col-md-12">
                                                <table class="table table-bordered table-hover center">
                                                    <tr class="success">
                                                        <th class="hidden-xs">#</th>
                                                        <th>الاسم عربى </th>
                                                        <th>الاسم انجليزى</th>
                                                        <th>النوع</th>
                                                        <th>تعديل / حذف</th>
                                                    </tr>
                                                    <tr ng-repeat="item in billTypeList">

                                                        <td class="hidden-xs">{{ item.BILL_TYPE_ID }}</td>
                                                        <td>{{ item.BILL_TYPE_AR_NAME }}</td>
                                                        <td>{{ item.BILL_TYPE_EN_NAME }}</td>
                                                        <td>{{TypeEnum[item.BILL_EFF_ID] }}</td>
                                                        <td class="center">
                                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                <a href="" ng-click="dirEnity(item)" class="btn btn-transparent btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                                                                <a href="" ng-click="deleteEnity(item)" class="btn btn-transparent btn-xs tooltips" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                            </div>
                                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                <div class="btn-group dropdown ">
                                                                    <button type="button" class="btn btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
                                                                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                                        <li>
                                                                            <a href="" ng-click="dirEnity(item)"> Edit </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="" ng-click="deleteEnity(item)"> Remove </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <ul uib-pagination total-items="billTypesTotalCount" ng-model="pageNum" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></ul>
                                                <pre>صفحه: {{pageNum}} / {{numPages}}</pre>
                                            </div>
                                            <!--/.col-md-12-->
                                        </div>
                                        <!--/.col-md-12-->
                                    </div>
                                    <!--/.panel-body-->
                                </div>
                                <!--/.panel-collapse-->
                            </div>
                            <!--/.panel-->
                        </div>
                    </div>
                    <!--/.panel-->
                </div>
                <!--/.col-md-12-->
            </div>
            <!--/.container-fluid-->
        </div>
        <!--/.wrap-content-->
    </div>
    <!--/.main-content-->
</div>
<!--/.app-content-->
