<div class="app-content">
    <div class="main-content">
        <div class="wrap-content container" id="container">
            <div class="container-fluid container-fullw">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading border-bottom">
                                <h4 class="panel-title">Cost Centers</h4>
                                <div class="panel-tools">
                                    <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" data-trigger="hover" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
                                    <a data-original-title="Expand" data-toggle="tooltip" data-placement="top" data-trigger="hover" class="btn btn-transparent btn-sm panel-expand" href="#"><i class="fa fa-compress expand-on"></i><i class="fa fa-expand expand-off"></i></a>
                                </div>
                            </div>
                            <!--Start Panel Body 1 -->
                            <div class="panel-body panel-white">                              
                                    <!--<form>-->
                                    <ng-form id="test" name="test">

                                        <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                            <div class="form-group col-md-6">
                                                <label for="GroupCode">Cost Center Code:</label>
                                                <div class="help-block error" style="display:inline" ng-show="test.code.$error.required">*</div>
                                                <input type="text" class="form-control" id="CenterCode" name="code" placeholder="Code" ng-model="costCenters.COST_CENTER_CODE" required readonly>
                                            </div>
                                        </div>

                                        <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                            <div class="form-group col-md-6">
                                                <label for="GroupARName">Arabic Name:</label>
                                                <div class="help-block error" style="display:inline" ng-show="test.arname.$error.required">*</div>
                                                <input type="text" class="form-control" id="CenterARName" name="arname" placeholder="Arabic Name" ng-model="costCenters.COST_CENTER_AR_NAME" required>
                                            </div>
                                        </div>

                                        <div ng-class="{'has-error': test.$invalid}" class="form-group">
                                            <div class="form-group col-md-6">
                                                <label for="GroupENName">English Name:</label>
                                                <div class="help-block error" style="display:inline" ng-show="test.enname.$error.required">*</div>
                                                <input type="text" class="form-control" id="CenetrENName" name="enname" placeholder="English Name" ng-model="costCenters.COST_CENTER_EN_NAME" required>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="GroupRemarks">Remarks:</label>
                                            <input type="text" class="form-control" id="CenterRemarks" placeholder="Remarks" ng-model="costCenters.COST_CENTER_REMARKS">
                                        </div>
                                        <!--/.col-md-6-->

                                        <div class="form-group col-md-6">
                                            <select ng-model="costCenters.COST_CENTER_MASTER_ID" ng-options="x.COST_CENTER_ID as x.COST_CENTER_AR_NAME for x in mainCostCenterList" class="form-control">
                                                <option value="">Master Center</option>
                                            </select>
                                        </div>
                                        <!--/.col-md-6-->

                                        <div class="col-md-6">
                                            <div class="checkbox clip-check check-primary">
                                                <input type="checkbox" id="dontActive" ng-model="costCenters.Disable">
                                                <label for="dontActive"> Disable</label>
                                            </div>
                                        </div>
                                        <!--/.col-md-6-->

                                        <div class="form-group col-md-12">
                                            <div class="panel-group accordion margin-top-20" id="accordion">
                                                <div class="form-group">
                                                    <div class="panel panel-white">
                                                        <div class="panel-heading">
                                                            <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#CostCenters1"> <i class="icon-arrow"></i>Expenses and Income</a></h5>
                                                        </div>
                                                        <!--/.panel-heading-->

                                                        <div id="CostCenters1" class="panel-collapse panel-white collapse">
                                                            <div class="panel-body">
                                                                <div class="form-group col-md-6">
                                                                    <label for="CenterOE">Opening Expenses:</label>
                                                                    <input type="text" class="form-control" id="CenterOE" placeholder="Opening Expenses" ng-model="costCenters.OpeningExpenses">
                                                                </div>

                                                                <div class="form-group col-md-6">
                                                                    <label for="CenterOI">Opening Income:</label>
                                                                    <input type="text" class="form-control" id="CenterOI" placeholder="Opening Income" ng-model="costCenters.OpeningIncome">
                                                                </div>

                                                                <div class="form-group col-md-6">
                                                                    <label for="CenterEE">ExpectedExpenses:</label>
                                                                    <input type="text" class="form-control" id="CenterEE" placeholder="ExpectedExpenses" ng-model="costCenters.ExpectedExpenses">
                                                                </div>

                                                                <div class="form-group col-md-6">
                                                                    <label for="CenterEI">ExpectedIncome:</label>
                                                                    <input type="text" class="form-control" id="CenterENName" placeholder="ExpectedIncome" ng-model="costCenters.ExpectedIncome">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/.panel-collapse-->

                                                    </div>
                                                    <!--/.panel panel-white-->
                                                </div>
                                                <!--/.form-group-->
                                            </div>
                                            <!--/.accordion-->
                                        </div>

                                        <div class="col-md-12 my-btn-group text-center margin-bottom-25">
                                            <button type="button" class="btn btn-primary margin-top-10" ng-disabled="test.$invalid" ng-click="saveCostCenter()"> <i class="glyphicon glyphicon-save"></i> Save</button>
                                            <button type="button" class="btn btn-success margin-top-10" ng-click="refreshData()"> <i class="glyphicon glyphicon-refresh"></i> Refresh</button>
                                            <button type="button" class="btn btn-info margin-top-10" ng-click="clearEnity()"><i class="glyphicon glyphicon-file"></i> New</button>
                                        </div>
                                        <!--/.my-btn-group-->
                                        <!--</form>-->
                                    </ng-form>
                            </div>
                            <!-- End Panel Body 1 -->
                            <div class="panel">
                                <div class="panel-group accordion" id="accordion">
                                    <div class="panel panel-white">
                                        <div class="panel-heading"><h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTable"> <i class="icon-arrow"></i> Prviously Added Costs </a></h5></div>
                                        <div id="collapseTable" class=" collapse">
                                            <!-- Start Panel Body 2 -->
                                            <div class="panel-body">
                                                <!--Results:{{itemsGroupsTotalCount}}-->
                                                <div class="table-responsive">
                                                    <div class="col-md-3 pull-left ">
                                                        <table class="table table-stylish">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="center text-extra-large"><i class="ti-save"></i></td>
                                                                    <td><span class="text-dark block">Cost Centers :</span></td>
                                                                    <td class="center">{{costCentersTotalCount}}</td>
                                                                    <td class="center"><i class="fa fa-caret-down text-red"></i></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered table-hover center">
                                                            <tr class="success">
                                                                <th class="hidden-xs"></th>
                                                                <th>Code</th>
                                                                <th>Arabic Name </th>
                                                                <th>english Name</th>
                                                                <th class="hidden-xs">Master Center</th>
                                                                <th class="hidden-xs">Remarks</th>
                                                                <th class="hidden-xs">Disable</th>
                                                                <th>Update / Delete</th>
                                                            </tr>
                                                            <tr ng-repeat="item in costCentersList">
                                                                <!--<td class="hidden-xs">{{ $index + 1 }}</td>-->
                                                                <td class="hidden-xs">{{ item.COST_CENTER_ID }}</td>
                                                                <td>{{ item.COST_CENTER_CODE }}</td>
                                                                <td>{{ item.COST_CENTER_AR_NAME }}</td>
                                                                <td>{{ item.COST_CENTER_EN_NAME }}</td>
                                                                <td class="hidden-xs">{{ item.MasterCostCenter }}</td>
                                                                <td class="hidden-xs">{{ item.COST_CENTER_REMARKS }}</td>
                                                                <td class="hidden-xs">
                                                                    <div class="checkbox clip-check check-primary ">
                                                                        <input type="checkbox" id="dontActive{{$index}}" ng-checked="item.Disable" />
                                                                        <label for="dontActive{{$index}}"></label>
                                                                    </div>
                                                                </td>
                                                                <td class="center">
                                                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                        <a href="" ng-click="loadData(item)" class="btn btn-transparent btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                                                                        <a href="" ng-click="deleteEntity(item)" ng-click="deleteEntity(item)" class="btn btn-transparent btn-xs tooltips" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                                    </div>
                                                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                        <div class="btn-group dropdown">
                                                                            <button type="button" class="btn btn-o btn-sm dropdown-toggle" data-toggle="dropdown">
                                                                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                                                            </button>
                                                                            <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                                                <li><a href="" ng-click="loadData(item)"> Edit </a></li>
                                                                                <li><a href="" ng-click="deleteEntity(item)"> Remove </a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <ul uib-pagination total-items="costCentersTotalCount" ng-model="pageNum" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></ul>
                                                        <pre>Page: {{pageNum}} / {{numPages}}</pre>
                                                    </div>
                                                </div><!--/.table-responsive-->
                                            </div>
                                            <!-- End Panel Body 2 -->
                                        </div>
                                        <!--/.panel-collapse-->
                                    </div>
                                    <!--/.panel-->
                                </div>
                                <!--/.panel-group-->
                            </div>
                            <!--/.panel /.panel-white-->
                        </div>
                        <!--/.panel-->
                    </div>
                    <!--/.col-md-12-->
                </div>
                <!--/.row-->
            </div>
            <!--/.container-fluid-->
        </div>
        <!--/.wrap-content-->
    </div>
    <!--/.main-content-->
</div>
<!--/.app-content-->