<div class="app-content">
    <div class="main-content">
        <div class="wrap-content container" id="container">
            <div class="container-fluid container-fullw">
                
                <div class="col-xs-12 margin-top-10 margin-bottom-10">
                    <div class="breadcrumb-wrapper no-margin">
                        <h4 class="mainTitle no-margin">تعريف اجور التصنيع</h4>
                        <ul class="pull-right breadcrumb">
                            <li><a href="#!"><i class="fa fa-home margin-left-5 text-large text-dark"></i>الرئيسية</a></li>
                            <li>تعريف اجور التصنيع</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 margin-bottom-10">
                    <div class="panel-white panel-body no-margin">
                        <button type="button" class="btn btn-o btn-default no-border" ng-disabled="test.$invalid" ng-click="savemanufacturingWagesGroup()"><i class="fa fa-save"></i>حفظ</button>
                        <button type="button" class="btn btn-o btn-default no-border " ng-click="refreshData()"><i class="fa fa-refresh"></i>تحديث</button>
                        <button type="button" class="btn btn-o btn-default no-border" ng-click="clearEnity()"><i class="fa fa-paste"></i>جديد</button>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body panel-white">
                            <ng-form id="test" name="test">
                                <div class="col-md-12">
                                    <div ng-class="{'has-error': test.$invalid}" class="">
                                        <div class="form-group col-md-6">
                                            <label>كود :</label>
                                            <div class="help-block error" style="display:inline" ng-show="test.code.$error.required">*</div>
                                            <input type="text" class="form-control" name="code" placeholder="الكود" ng-model="manufacturingWages.ManufacturingWage_CODE" required>
                                        </div>
                                    </div>

                                    <div ng-class="{'has-error': test.$invalid}" class="">
                                        <div class="form-group col-md-6">
                                            <label>اسم اجور التصنيع العربى:</label>
                                            <div class="help-block error" style="display:inline" ng-show="test.arname.$error.required">*</div>
                                            <input type="text" class="form-control" name="arname" placeholder="اسم اجور التصنيع العربى" ng-model="manufacturingWages.ManufacturingWage_AR_NAME" required>
                                        </div>
                                    </div>

                                    <div ng-class="{'has-error': test.$invalid}" class="">
                                        <div class="form-group col-md-6">
                                            <label>اسم اجور التصنيع اللاتينى:</label>
                                            <div class="help-block error" style="display:inline" ng-show="test.enname.$error.required">*</div>
                                            <input type="text" class="form-control" name="enname" placeholder="اسم اجور التصنيع اللاتينى" ng-model="manufacturingWages.ManufacturingWage_EN_NAME" required>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label>ملاحظات:</label>
                                        <input type="text" class="form-control" placeholder="ملاحظات" ng-model="manufacturingWages.ManufacturingWage_REMARKS">
                                    </div>

                                </div><!--/.col-md-12-->
                            </ng-form>

                        </div>
                                                       
                        <div class="panel">
                            <div class="panel-group accordion" id="accordion">
                                <div class="panel panel-white">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTable"> <i class="icon-arrow"></i> اجور التصنيع المعرفة مسبقاً </a></h5>
                                    </div>
                                    <div id="collapseTable" class="collapse">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <table class="table table-bordered table-hover margin-top-15">
                                                    <thead>
                                                        <tr class="success">
                                                            <th class="center text-extra-large"><i class="ti-arrow-down"></i></th>
                                                            <th class="center"> كود </th>
                                                            <th class="center">اسم اجور التصنيع</th>
                                                            <th class="center">اسم اجور التصنيع اللاتينى</th>
                                                            <th class="center">ملاحظات</th>
                                                            <th class="center">تعديل / حذف</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in manufacturingWagesList">
                                                            <td class="hidden-xs">{{ $index + 1 }}</td>
                                                            <td>{{ item.ManufacturingWage_CODE }}</td>
                                                            <td>{{ item.ManufacturingWage_AR_NAME }}</td>
                                                            <td>{{ item.ManufacturingWage_EN_NAME }}</td>
                                                            <td class="hidden-xs">{{ item.ManufacturingWage_REMARKS }}</td>
                                                            <td class="center">

                                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                    <a href="" ng-click="dirEnity(item)" class="btn btn-transparent btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                                                                    <a href="" ng-click="deleteEnity(item)" class="btn btn-transparent btn-xs tooltips" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                                </div>
                                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                    <div class="btn-group dropdown ">
                                                                        <button type="button" class="btn btn-o btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i>&nbsp;<span class="caret"></span></button>

                                                                        <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                                            <li>
                                                                                <a href="" ng-click="dirEnity(item)"> Edit </a>
                                                                            </li>

                                                                            <li>
                                                                                <a href="" ng-click="deleteEnity(item)"> Remove </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <!--
                                                                        <a class="label partition-blue" href="" ng-click="dirEnity(item)"><i class="glyphicon glyphicon-share"></i>تعديل</a>
                                                                        <a class="label partition-red" href="" ng-click="deleteEnity(item)"><i class="glyphicon glyphicon-remove-circle"></i> حذف</a>
                                                                -->
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <ul uib-pagination total-items="manufacturingWagesTotalCount" ng-model="pageNum" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></ul>
                                                <pre>صفحه: {{pageNum}} / {{numPages}}</pre>

                                            </div>
                                        </div>
                                        <!--/.panel-body-->
                                    </div>
                                    <!--/.panel-collapse-->
                                </div>
                                <!--/.panel-->
                            </div>
                            <!--/.panel-group-->
                        </div>
                        <!--/.panel /.panel-white-->                            
                    </div><!--/.panel-->
                </div><!--/.col-md-12-->
                
            </div><!--/.container-fluid-->
        </div><!--/.wrap-content-->
    </div><!--/.main-content-->
</div><!--/.app-content-->
