<div class="wrap-content container" id="container">

    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="mainTitle">الدعم الفني و المساعدة</h1>
                <span class="mainDescription ">ResortErp System </span>
            </div>
        </div>
    </section>
    <div class="row margin-bottom-30 margin-top-30">
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body min-height-230">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-dark"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">تسجيل دخول </h2>
                    <p class="text-small">
                        يمكنك تسجيل دخولك من هنا
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#/login" style="color:cornflowerblue">اضغط هنا</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body min-height-230">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">دليل المستخدم</h2>
                    <p class="text-small">دليل استخدام نظام ResortERP</p>
                    
                    <p class="links cl-effect-1">
                        <a href="#" style="color:cornflowerblue">
                            اضغط هنا
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body min-height-230">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">دليل المستخدم</h2>
                    <p class="text-small">
                        دليل استخدام نظام ResortERP
                    </p>
                   
                    <p class="links cl-effect-1">
                        <a href="#" style="color:cornflowerblue">
                            اضغط هنا
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body min-height-230">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">تحدث مع الدعم</h2>
                    <p class="text-small">
                        يمكنك التواصل مع الدعم الفني
                    </p>
                    <p>
                       
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#" style="color:cornflowerblue">
                            التواصل معنا
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body min-height-230">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">الدعم عبر الهاتف</h2>

                    <p>
                        واتساب ويب :
                        <a href="mailto:01064647733" style="color:green">
                            01064647733
                            <i class="fa fa-whatsapp edit-user-info"></i>
                        </a>
                    </p>
                    <p>
                        سكاي بي :
                        <a href="mailto:support@ResortERP.com" style="color:aqua">
                            support@ResortERP.com
                            <i class="fa fa-skype edit-user-info"></i>
                        </a>
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#" style="color:cornflowerblue">
                            الاتصال بنا
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body min-height-230">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="StepTitle">البريد الإلكتروني</h2>
                    <p class="text-small">
                        راسلنا عبر البريد الإلكتروني
                    </p>
                    <p>                       
                        <a href="mailto:support@ResortERP.com" style="color:salmon">
                            support@ResortERP.com
                            <i class="fa fa-envelope edit-user-info"></i>
                        </a>
                    </p>
                    <p class="links cl-effect-1">
                        <a href="#" style="color:cornflowerblue">يمكنك ارسال رسالة</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
