<nav>
    <!-- start: MAIN NAVIGATION MENU -->
    <div class="navbar-title">
        <span> الشركة المتحدة للأغذية</span><br>
        <span>فرع الرياض - العليا</span>
    </div>
    <ul class="main-navigation-menu">
        <li class="active open">
            <a href="#">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> الرئيسية </span>
                    </div>
                </div>
            </a>
        </li>

        <li>
            <a href="javascript:void(0)">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-clone"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> الاكواد العامة </span><i class="icon-arrow"></i>
                    </div>
                </div>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="page_layouts_fixed_header.html"> <span class="title"> مجموعة اصناف </span> </a>
                </li>

                <li>
                    <a href="page_layouts_fixed_sidebar.html"> <span class="title"> بطاقة صنف </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> وحدة </span> </a>
                </li>

                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> نقاط البيع </span> </a>
                </li>

                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> مخازن </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> مركز تكلفة </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> عملات </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> عنوان </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> فرع شركة </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> اقسام </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> وظيفة </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> موظف </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> حساب </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> شركة </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> مصروف </span> </a>

                </li>

                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title"> بنك </span> </a>
                </li>
                <li>
                    <a href="page_layouts_fixed_header_sidebar.html"> <span class="title">اهلاك  </span> </a>
                </li>



            </ul>
        </li>

    </ul>
    <!-- end: MAIN NAVIGATION MENU -->
    <!-- start: CORE FEATURES -->
    <div class="navbar-title">
        <span>الاعدادات العامه</span>
    </div>
    <ul class="folders">
        <li>
            <a href="landing_page.html">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-gift"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> اعدادات المستخدمين </span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-exchange"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> اعدادات نقاط البيع</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <!-- end: CORE FEATURES -->
</nav>